{#{% load bootstrap4 %}#}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
{#    {% bootstrap_css %}#}
</head>
<body>
{% block body %}{% endblock %}
{% block header %}
<div class="container">
        <div class="row">
            <div class="item">
                <a class="item-link" href={% url 'algorithm:algorithm' algorithm='linear' %}>- Linear</a>
            </div>
            <div class="item">
                <a class="item-link" href={% url 'algorithm:algorithm' algorithm='branches' %}>- Branches</a>
            </div>
            <div class="item">
                <a class="item-link" href={% url 'algorithm:algorithm' algorithm='cyclic' %}>- Cyclic</a>
            </div>
        </div>
    </div>
{% endblock header %}
</body>
</html>