{#{% load bootstrap4 %}#}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
{#    {% bootstrap_css %}#}
</head>
<body>
{% block header %}
<div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <a href={% url 'algorithm:algorithm' algorithm='linear' %}>linear</a>
            </div>
            <div class="col-4">
                <a href={% url 'algorithm:algorithm' algorithm='branches' %}>branches</a>
            </div>
            <div class="col-4">
                <a href={% url 'algorithm:algorithm' algorithm='cyclic' %}>cyclic</a>
            </div>
        </div>
    </div>
{% endblock header %}
{% block body %}{% endblock %}
</body>
</html>