body {
  font-family: "Montserrat", sans-serif;
  color: #505050;
}

.row {
  display: flex;
  flex-direction: column;
}

.item {
  margin-right: 10px;
}

.item-link {
  position: relative;
  font-size: 24px;
  color: #505050;
  font-weight: 600;
  text-decoration: none;
  transition: all;
  transition-duration: 300ms;
}

.item-link:hover {
  top: 1px;
  color: #000000;
}

.hello {
  font-size: 36px;
  font-weight: 700;
}

#id_a,
#id_b,
#id_r,
#id_c,
#id_n,
#id_p,
#id_x {
  color: #505050;
  font-size: 20px;
  width: 300px;
  height: 20px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 15px;
}

#id_x,
#id_p {
  margin-bottom: 0;
}

#id_file {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  padding: 10px 20px;
  outline: none;
  border: none;
  background-color: transparent;
  border: 2px solid #505050;
  border-radius: 20px;
}

.button {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 20px;
  outline: none;
  border: none;
  background-color: transparent;
  border: 2px solid #505050;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  transition: all;
  transition-duration: 300ms;
}

.button:hover {
  background-color: #505050;
  color: white;
}

.image {
  width: 300px;
  height: 220px;
  margin-bottom: 10px;
}
